#signup {
  border: 0px solid red;
}
/* users tag is just for testing */
body {
  background-color: rgb(52, 51, 101);
}

#createPollContainer {
  border: 0px solid orange;
}

#createPoll {
  border: 0px solid purple;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding: 25px;
}

.createPollInput {
  padding: 5px;
  justify-self: center;
  border-radius: 10px;
  margin: 5px;
  min-width: 500px;
}

#createButton {
  width: 10vw;
  justify-self: center;
  padding: 5px;
}

.pollCard {
  background-color: rgb(155, 134, 206);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  max-width: 400px;
  min-height: 200;
}

.options {
  border: 1px solid white;
  margin: 4px;
}

#polls {
  border: 0px solid teal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}