#signup {
  border: 0px solid red;
}
/* users tag is just for testing */
body {
  background-image: linear-gradient(to bottom, #343365, #434272, #525180, #61608e, #71709c);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  margin-bottom: 30px;
  padding: 10px;
  background-color:#71709C;
  border-radius: 5px;
  box-shadow: 5px 5px 3px #0F0E39;
}

#headerContainer {
  display: flex;
  justify-content: right;
}

.loginInput {
  margin: 5px;
  border-radius: 5px;
  padding: 3px;
}

#loginButton {
  margin: 5px;
  font-family: inherit;
  border: 0;
  border-radius: 5px;
  background-color: #212054;
  color: #FFFFFF;
}

#loginButton:hover {
  transform: scale(120%);
  transition-duration: 0.5s;
  color: #FF6599;
}

input:focus {
  outline: #FF6599;
  border-color: #FF6599;
}
#headerLogoContainer {
  display: flex;
  height: 250px;
  width: 200px;
  margin: 25px;
  transition: transform 0.25s;
  transition-timing-function: ease-in;
}

#headerLogoContainer:hover {
  transform: scale(120%);
  transition-duration: 0.5s;
}

#topContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 50px;
}

#createPollContainer {
  border: 0px solid orange;
  width: 300px;
}

#createPollInstructions {
  justify-self: center;
  font-weight: bolder;
  margin-bottom: 10px;
  color: #0F0E39;
  font-size: larger;
}

#createPollInstructions:hover {
  color: #FF6599;
}

#createPoll {
  background-color: #71709C;
  display: grid;
  justify-content: center;
  padding: 20px;
  min-width: 500px;
  margin: 15px;
  border-radius: 5px;
  max-width: 400px;
  min-height: 200;
  box-shadow: 5px 5px 3px #0F0E39;
}

.createPollInput {
  padding: 5px;
  justify-self: center;
  border-radius: 10px;
  margin: 5px;
  min-width: 500px;
}

#createButton {
  width: 10vw;
  justify-self: center;
  padding: 5px;
  transition: 1s;
  margin-top: 15px;
  font-family: inherit;
  border: 0;
  border-radius: 5px;
  background-color: #212054;
  color: #FFFFFF;
}

#createButton:hover {
  transform: scale(120%);
  transition-duration: 0.5s;
  color: #FF6599;
}

.pollCard {
  background-color: #71709C;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  max-width: 400px;
  min-height: 200;
  box-shadow: 5px 5px 3px #0F0E39;
  transition: transform 1s;
}

.pollCard:hover {
  transform: rotateZ(0.75deg);
  transition-duration: 1s;
}

.pollTitle {
  color: #0F0E39;
  margin: 10px;
  font-weight: bold;
}

.pollTitle:hover {
  color: #FF6599;
}

.options {
  margin: 4px;
  padding: 5px;
  color: #0F0E39;
  background-color: #9998B7;
  border-radius: 5px;
}

#polls {
  border: 0px solid teal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
}

/* COLOR PALLETE */


/* 
.color-primary-0 { color: #343365 } - primary/logo/background
.color-primary-1 { color: #71709C } - lighter still
.color-primary-2 { color: #4C4B7F } - lighter than background
.color-primary-3 { color: #212054 } - darker than background
.color-primary-4 { color: #0F0E39 } - darkest - text

lightest - #9998B7
logo pink - #FF6599

Created using paletton.com
*/